<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.milkt.onelab.organization.dao.LabDao">

<resultMap id="labDOResult" type="io.milkt.onelab.organization.domain.LabDO">
    <result column="name" property="name"/>
    <result column="type" property="type"/>
    <result column="address_id" property="addressId"/>
    <result column="phone" property="phone"/>
    <result column="organization_id" property="organizationId"/>
    <result column="level" property="level"/>
    <result column="id" property="id"/>
    <result column="gmt_create" property="gmtCreate"/>
    <result column="gmt_modified" property="gmtModified"/>
</resultMap>

<sql id="labDO_columns">
    name,
    type,
    address_id,
    phone,
    organization_id,
    level,
    id,
    gmt_create,
    gmt_modified
</sql>

<sql id="labDO_sqlForInsert">
    name,
    type,
    address_id,
    phone,
    organization_id,
    level,
    id,
    gmt_create,
    gmt_modified
</sql>

<sql id="labDO_columnsForInsert">
    #{name},
    #{type},
    #{addressId},
    #{phone},
    #{organizationId},
    #{level},
    #{id},
    now(),
    now()
</sql>

<sql id="labDO_setterForUpdate">
    <set>
        gmt_modified = now(),
        <if test="name != null">
            name = #{name},
        </if>
        <if test="type != null">
            type = #{type},
        </if>
        <if test="addressId != null">
            address_id = #{addressId},
        </if>
        <if test="phone != null">
            phone = #{phone},
        </if>
        <if test="organizationId != null">
            organization_id = #{organizationId},
        </if>
        <if test="level != null">
            level = #{level},
        </if>
    </set>
</sql>

<sql id="labDO_selector">
    select
    <include refid="labDO_columns"/>
    from lab
</sql>

<sql id="labDO_query_segment">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="data.name != null">
            AND name = #{data.name}
        </if>
        <if test="data.type != null">
            AND type = #{data.type}
        </if>
        <if test="data.addressId != null">
            AND address_id = #{data.addressId}
        </if>
        <if test="data.phone != null">
            AND phone = #{data.phone}
        </if>
        <if test="data.organizationId != null">
            AND organization_id = #{data.organizationId}
        </if>
        <if test="data.level != null">
            AND level = #{data.level}
        </if>
        <if test="data.id != null">
            AND id = #{data.id}
        </if>
        <if test="data.gmtCreate != null">
            AND gmt_create = #{data.gmtCreate}
        </if>
        <if test="data.gmtModified != null">
            AND gmt_modified = #{data.gmtModified}
        </if>
        <if test="ins != null">
            AND
            <foreach collection="ins" item="item" open="(" separator="and" close=")">
                ${item.column} in
                <foreach collection="item.values" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </foreach>
        </if>
        <if test="notIns != null">
            AND
            <foreach collection="notIns" item="item" open="(" separator="and" close=")">
                ${item.column} not in
                <foreach collection="item.values" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </foreach>
        </if>
        <if test="equals != null and equals != ''">
            AND
            <foreach collection="equals" item="item" open="(" separator="and" close=")">
                ${item.column} = #{item.value}
            </foreach>
        </if>
        <if test="notEquals != null and notEquals != ''">
            AND
            <foreach collection="notEquals" item="item" open="(" separator="and" close=")">
                ${item.column} = #{item.value}
            </foreach>
        </if>
        <if test="lts != null">
            AND
            <foreach collection="lts" item="item" open="(" separator="and" close=")">
                ${item.column} <![CDATA[ < ]]> #{item.value}
            </foreach>
        </if>
        <if test="gts != null">
            AND
            <foreach collection="gts" item="item" open="(" separator="and" close=")">
                ${item.column} <![CDATA[ > ]]> #{item.value}
            </foreach>
        </if>
        <if test="likes != null and likes != ''">
            AND
            <foreach collection="likes" item="item" open="(" separator="and" close=")">
                ${item.column} like concat('%', #{item.value}, '%')
            </foreach>
        </if>
        <if test="ltes != null">
            AND
            <foreach collection="ltes" item="item" open="(" separator="and" close=")">
                ${item.column} <![CDATA[ <= ]]> #{item.value}
            </foreach>
        </if>
        <if test="gtes != null">
            AND
            <foreach collection="gtes" item="item" open="(" separator="and" close=")">
                ${item.column} <![CDATA[ >= ]]> #{item.value}
            </foreach>
        </if>
        <if test="ranges != null">
            AND
            <foreach collection="ranges" item="item" open="(" separator="and" close=")">
                ${item.column} <![CDATA[ >= ]]> #{item.from} and ${item.column} <![CDATA[ < ]]> #{item.to}
            </foreach>
        </if>
        AND is_delete = 0
    </trim>
</sql>


<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="io.milkt.onelab.organization.domain.LabDO">
    insert into lab
    (
        <include refid="labDO_sqlForInsert"/>
        ,is_delete
    )
    values
    (
        <include refid="labDO_columnsForInsert"/>
        ,0
    )
</insert>

<update id="update" parameterType="io.milkt.onelab.organization.domain.LabDO">
    update lab
    <include refid="labDO_setterForUpdate" />
    where id = #{id}
    and is_delete = 0
</update>


<update id="updateByQuery" parameterType="io.milkt.onelab.organization.domain.LabDO">
    update lab
    <set>
        gmt_modified = now(),
        <if test="update.name != null">
            name = #{update.name},
        </if>
        <if test="update.type != null">
            type = #{update.type},
        </if>
        <if test="update.addressId != null">
            address_id = #{update.addressId},
        </if>
        <if test="update.phone != null">
            phone = #{update.phone},
        </if>
        <if test="update.organizationId != null">
            organization_id = #{update.organizationId},
        </if>
        <if test="update.level != null">
            level = #{update.level},
        </if>
    </set>
    <include refid="labDO_query_segment"/>
</update>


<insert id="insertOrUpdate" useGeneratedKeys="true" keyProperty="id" parameterType="io.milkt.onelab.organization.domain.LabDO">
    insert into lab
    (
        <include refid="labDO_sqlForInsert"/>
        ,is_delete
    )
    values
    (
        <include refid="labDO_columnsForInsert"/>
        ,0
    )
    on duplicate key update
    gmt_modified = now()
    ,is_delete = 0
    <if test="name != null">
        ,name = #{name}
    </if>
    <if test="type != null">
        ,type = #{type}
    </if>
    <if test="addressId != null">
        ,address_id = #{addressId}
    </if>
    <if test="phone != null">
        ,phone = #{phone}
    </if>
    <if test="organizationId != null">
        ,organization_id = #{organizationId}
    </if>
    <if test="level != null">
        ,level = #{level}
    </if>
</insert>

<!-- Delete -->
<update id="delete">
    update lab
    set is_delete = 1, gmt_modified = now()
    <include refid="labDO_query_segment"/>
</update>
<update id="deleteById">
    update lab
    set is_delete = 1, gmt_modified = now()
    where id = #{id}
</update>





<!-- query class -->
<sql id="labDO_groupBy">
    <if test="groupBys != null and groupBys != ''">
        group by
        <foreach collection="groupBys" item="item" open="" separator="," close="">
            #{item}
        </foreach>
    </if>
</sql>

<sql id="labDO_orderby">
    <if test="orderBys != null and orderBys != ''">
        order by
        <foreach collection="orderBys" item="item" open="" separator="," close="">
            ${item.column} ${item.direction}
        </foreach>
    </if>
</sql>


<select id="query" resultMap="labDOResult" parameterType="io.milkt.onelab.organization.domain.LabDO">
    <include refid="labDO_selector"/>
    <include refid="labDO_query_segment"/>
    <include refid="labDO_groupBy"/>
    <include refid="labDO_orderby"/>
</select>

<select id="query4Page" resultMap="labDOResult" parameterType="io.milkt.onelab.organization.domain.LabDO">
    <include refid="labDO_selector"/>
    <include refid="labDO_query_segment"/>
    <include refid="labDO_groupBy"/>
    <include refid="labDO_orderby"/>
    limit ${startRowForMysql}, ${pageSize}
</select>


<select id="count" resultType="java.lang.Long">
    SELECT COUNT(1) FROM lab
    <include refid="labDO_query_segment"/>
</select>

<select id="getById" resultMap="labDOResult">
    <include refid="labDO_selector"/>
    where id = #{id}
    and is_delete = 0
</select>

<select id="getByIdForUpdate" resultMap="labDOResult">
    <include refid="labDO_selector"/>
    where id = #{id}
    and is_delete = 0
    for update
</select>

</mapper>
